#start-game {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.sun-icon {
  color: #FFD700;
}

#level-select button.selected {
  background-color: #28a745;
  color: #fff;
}

#end-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

#play-sound {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

#play-sound img {
  width: 1em;
  height: 1em;
  margin-right: 5px;
}
